*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    width: 100%;
    background:linear-gradient(to right bottom,#423C56,#0D0C11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 300px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 40px #0000001e;
}

.login-container input{
    border-bottom: 1px solid #707070a2;
    width: 85%;
    margin: 25px 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.form-container button{
    margin-top: 20px;
    padding: 5px 30px;
    background-color: #423C56;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.login-container .heading{
    color: #707070;
    font-size: 27px;
    margin-bottom: 10px;
}

.redirect{
    text-decoration: none;
    color: #423C56;
    font-size: 15px;
    margin-top: 10px;
}


/* home styling */

.home-container{
    height: calc(100vh - 30px);
    width: calc(100% - 30px);
    background:linear-gradient(to right bottom,#423C56,#0D0C11);
    padding: 15px 15px 15px;
}

.home-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.267);
}

.home-nav .heading{
    margin-left: 20px;
    font-size: 20px;
    color: #342F44;
}

.nav-options li{
    list-style: none;
    margin: 0 30px;
    color: #342F44;
    cursor: pointer;
}

.nav-options{
    display: flex;
    justify-content: center;

}

.weather-container{
    width: 100%;
}

.user-location{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-location .heading{
    color: #fff;
    font-size: 45px;
}

.user-location input{
    margin-top: 45px;
    width: 60%;
    background-color: transparent;
    border-bottom: 3px solid #707070;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
}


.about{
    position: relative;
}


.about-list{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aqua;
    opacity: 0;
    z-index: -10;
    transition: all 0.4s ease;
}

.active{
    opacity: 1;
    z-index: 10;
}

